In [1]:
import random
import datetime
from generate_random_data import Generate_Random_Data as grd

# Captive Portal Data Generation

In [2]:
# Setting the seed to zero
random.seed(0)

In [3]:
# Creating only 2000 data points
data_points=2000

In [4]:
# Creating the dataframe
p1_cols = ['time','name', 'street', 'phone', 'wya', 'medical', 'fire_explosion', 'flood', 'violence', 
           'landslide', 'building_collapse', 'trapped', 'death', 'other_emergency', 'first_aid', 'shelter',
           'food', 'financial_aid', 'water', 'evacuation', 'clothing', 'hygiene', 'other_details', 
           'electrical', 'road_blocked', 'fallen_trees','chemical','smoke_fire','animals','swiftwater',
           'explosives', 'other_hazards', 'num_people', 'num_pets', 'immobile', 'public_name', 'change_status', 
           'message']
captive_portal_data = grd.create_df(cols=p1_cols)

In [5]:
# Generating the data

## Time Data
startDate = datetime.datetime(2017, 9, 16,17,00)
captive_portal_data['time'] = grd.random_date(start=startDate, num=data_points)

## Name data
captive_portal_data['name'] = grd.random_names(num=data_points)

## Coordinates data
pr_coor = (18.238334,-66.530801)
pr_radius = 25000
captive_portal_data['street'] = grd.random_coor(num=data_points, radius=pr_radius, center=pr_coor)

## Phone data
captive_portal_data['phone'] = grd.random_digits(num=data_points)

## Occupants data
captive_portal_data['occupants'] = grd.random_ints(num=data_points)

## Dangers, first aid, water, food, vacant data
for col in ['medical', 'fire_explosion', 'flood', 'violence', 'landslide', 'building_collapse', 
            'trapped', 'death','first_aid', 'shelter', 'food', 'financial_aid', 'water', 'evacuation', 
            'clothing', 'hygiene','electrical', 'road_blocked', 'fallen_trees','chemical','smoke_fire',
            'animals','swiftwater', 'explosives','immobile', 'public_name', 'change_status']:
    captive_portal_data[col] = grd.binary(num=data_points)

## Viewing the dataframe
captive_portal_data.head()

,time,name,street,phone,wya,medical,fire_explosion,flood,violence,landslide,...,swiftwater,explosives,other_hazards,num_people,num_pets,immobile,public_name,change_status,message,occupants
0,16/09/17 17:54:24,Clarence Manly,"(18.07567005863544, -66.41863020937275)",85194459733,NaN,1,0,0,0,1,...,1,0,NaN,NaN,NaN,0,0,0,NaN,5
1,16/09/17 17:48:56,Betty Jackson,"(18.28168669766055, -66.74334024902808)",72172986434,NaN,0,0,1,1,0,...,0,0,NaN,NaN,NaN,1,0,0,NaN,2
2,16/09/17 17:26:02,James Demarco,"(18.34793323121734, -66.72193554186062)",38221582206,NaN,1,0,0,0,1,...,0,1,NaN,NaN,NaN,0,0,0,NaN,2
3,16/09/17 17:16:32,Bryan Draper,"(18.05087580385643, -66.48562392439639)",95575988362,NaN,1,0,0,1,0,...,1,0,NaN,NaN,NaN,0,0,0,NaN,5
4,16/09/17 17:31:25,Gloria Steffen,"(18.08603968646708, -66.36661803786103)",74743985989,NaN,1,1,0,0,0,...,1,0,NaN,NaN,NaN,1,1,0,NaN,10